/database
/build64Win
/build32Win
/build64Lin
/build32Lin
/build64
/build32
/build
/tools
/bin
/.vc
/.vs
/.vscode
/Autotest.log
/Decompile.bat
manifest.xml
*.epf
*.o
*.d
*.so
*~
.#*
#*#
schema/atmega328p_cnc/#auto_saved_files#
*backup*
~*
/.pio
